:root {
  --primary-color: #0277b3;
  --text-color: #000000; /* Black */
  --background-color: #ffffff; /* White */
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0; /* Remove default body margin */
}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  max-height: 100vh; /* Set a maximum height to fit the viewport */
}

.event-container {
  background-color: var(--background-color);
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  width: 16.6667%; /* 1/6 of the screen width */
}

.event-title {
  font-size: 18px;
  margin: 0;
  color: var(--text-color);
}

.event-start-date {
  color: #555;
}

.event-image {
  max-width: 20%;
  height: auto;
  display: block;
  margin-top: 10px;
}
