:root {
  --primary-color: #0277b3;
  --text-color: #000000; /* Black */
  --background-color: #ffffff; /* White */
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0; /* Remove default body margin */
}

header {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;
  padding: 20px;
}

nav ul {
  background-color: var(--primary-color);
  color: var(--background-color);
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center-align the event blocks */
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.sticky-header header {
  text-align: center;
  padding: 20px;
}

.event-container {
  background-color: var(--background-color);
  border: 1px solid #ddd;
  margin: 10px; /* Adjust the margin for spacing between event blocks */
  width: calc(33.33% - 20px); /* 1/3 of the screen width, accounting for margins */
  text-align: center; /* Center-align the title text */
  padding: 10px; /* Adjust the padding for title text to fit within the width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align the content vertically */
}

.event-title {
  font-size: 18px;
  margin: 0;
  color: var(--text-color);
  flex: 1; /* Allow title to expand to available space */
}

.event-start-date {
  color: #555;
}

.event-image {
  max-width: 100%;
  max-height: 100%; /* Set a maximum height for the image */
  height: auto;
  display: block;
  margin-top: 10px;
}

.past-event {
  background-color: #ddd; /* Background color for past events */
}

.event-section {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
}

.upcoming-events {
  background-color: #0277b3; /* Set the background color for Upcoming Events section */
}

.past-events {
  background-color: #d147b3; /* Set the background color for Past Events section */
}

/* Add a parallax effect using CSS transitions */
.event-section {
  transform: translateZ(0);
  transition: transform 0.5s;
}

/* Apply the parallax effect when scrolling down */
.event-section.upcoming-events {
  transform: translateY(-50px);
}

.event-section.past-events {
  transform: translateY(50px);
}