/* Define the color variables */
:root {
  --primary-color: #0277b3;
  --text-color: #000000; /* Black */
  --background-color: #ffffff; /* White */
}

/* Reset the default margin and padding for the body */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Center the header text vertically and horizontally */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 2rem; /* Adjust font size as needed */
  margin: 0;
}
