/* Define the color variables */
:root {
  --primary-color: #0277b3;
  --text-color: #000000; /* Black */
  --background-color: #ffffff; /* White */
}

/* Apply the color scheme to elements */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  background: transparent;
  height: auto;
  overflow-x: hidden;
}

/* Apply color scheme to main content and footer */

main {
  flex-grow: 1;
  margin: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center-align the event blocks */
  padding: 10px;
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  padding-top: 20%; /* Add a top margin to push the content below the header */
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  overflow-y: auto;
  max-height: 100vh;
}

.sticky-header {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;
  padding: 10px;
  transition: transform 0.3s; /* Add a smooth transition effect */
  transform: translateY(0); /* Initially, keep the header in view */
  position: fixed;
  width: 100%;
  z-index: 100;
}

.sticky-header.hidden {
  transform: translateY(-100%); /* Hide the header by moving it up */
}

.sticky-header header {
  text-align: center;
  padding: 10px;
}

nav ul {
  background-color: var(--primary-color);
  color: var(--background-color);
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
}

.event-section {
  width: 100%; /* Full width for each section */
  margin: 20px 0; /* Adjust margin as needed */
  text-align: center;
}


/* Style for the content */
.content {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 20px;
  z-index: 1;
  text-align: center;
  position: relative;
}

section {
  margin-bottom: 20px;
}

.about-section, .events-section {
  max-width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color:  var(--primary-color);
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.about-section h2, .events-section h2 {
  text-align: center;
}

footer {
  color: #000000;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;
  padding: 10px;
}
